@font-face {
   font-family: 'Helvetica_33244fbeea10f093ae87de7a994c3697';
   font-display: swap;
   src: url('file:///C:/Users/Wale%20Joseph/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-20_105028/fonts/Helvetica_33244fbeea10f093ae87de7a994c3697/font.ttf');
}
